<h1>The Author</h1><br>
<div>
	<img src="https://scontent.facc6-1.fna.fbcdn.net/v/t1.6435-9/70536266_2343376629258862_6393700758792962048_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=8bfeb9&_nc_eui2=AeFywCJwH6CfmZpHmliwqgH9WAiptB1O9W5YCKm0HU71btI_RCB47nz0fbs7p3cIoozXj_NeTP8UjIeufJSopMbv&_nc_ohc=8cV2gBSvGo4AX8f7eAb&_nc_ht=scontent.facc6-1.fna&oh=204ed7919e720092fc350fb04f730fe9&oe=60AAF036" width="100" height="100"/>
</div>
<p><h4>Ebenezer N. Nakoja</h4> He is a young student who has a passion for coding and teaching others in order to empower them cope with the changing trends in the world today because of advancements in technology.</p>
<p></p>
