// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container a:hover {
  color: #f55e55;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: href="https://scontent.facc6-1.fna.fbcdn.net/v/t1.6435-9/177528763_504102037615420_5787067911912946205_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=0debeb&_nc_eui2=AeHCqZxuLLmpvDWk13mtFkWoxnWAZ-NqUJzGdYBn42pQnAdW4sa8KrCVbHOUQlli9-y-bi2opy3hh-gCmoG4Wqmt&_nc_ohc=nY89QJgMMYcAX8XypC3&_nc_ht=scontent.facc6-1.fna&oh=bcacb601f6f8ae351cabcba6c3793b43&oe=60AB62BB";
}
.container input[type="submit"] {
  height: 30px;
  font-size: 13px;
  background-color: #000000;
  border: none;
  color: #fff;
}